.PortadaInicio{
    height: 560px;
    width: 100%;
    background-color: yellow;
    position: relative;
    transition: 1s ease;
    
}

.containerTitle-portada{
    height: 560px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-Portada{
    height: 450px;
    width: 800px;
    color: yellow;
    font-weight: bold;
    padding-top: 50px;
}

.containerBtn-portada{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.btnPortada{
    height: 50px;
    width: 150px;
    border: 1px solid yellow;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #191919;
    color: white;
    transition: 0.5s ease;
}

.btnPortada:hover{
   background-color: yellow;
   color: black;
}

.btnPortada2{
    height: 50px;
    width: 150px;
    border: 1px solid yellow;
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: yellow;
    color: black;
    transition: 0.5s ease;
}

.btnPortada2:hover{
    background-color:#191919;
    color: yellow;
 }

 .seccionGalery{
    background-color: white;
 }

 .portadaUbicacion{
    height: 500px;
    width: 100%;
    background-color: red;
    position: relative;
 }

 .portadaUbicacion img{
    height: 100%;
    object-fit: cover;
 }

 .capaUbicacion{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
 }

 .btn-Ubicacion{
   padding: 10px 30px;
   border: 1px solid transparent;
   border-radius: 10px;
   background-color: yellow;
   transition: 0.7s ease;
 }

 .btn-Ubicacion:hover{
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
 }

 /* ********************************************************************** */


 @media (max-width: 320px){
    .title-Portada {
        height: 450px;
        width: 312px;
        color: yellow;
        font-weight: bold;
        padding-top: 50px;
    }

    .seccionGalery{
        background-color: white;
       
     }

     .titleGaleria{
        text-align: center;
        font-size: 14px;
     }
 }

 @media screen and (min-widht:440px) ,(max-width:767px) {
    .title-Portada {
        height: 450px;
        width: 312px;
        color: yellow;
        font-weight: bold;
        padding-top: 50px;
    }

    .seccionGalery{
        background-color: white;
       
     }

     .titleGaleria{
        text-align: center;
        font-size: 14px;
     }
 }