.PortadaInicio{
    height: 550px;
    width: 100%;
    background-color: yellow;
    position: relative;
    transition: 1s ease;
    
}


.containerTitle-portada{
    height: 550px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-Portada{
    height: 450px;
    width: 800px;
    color: yellow;
    font-weight: bold;
    padding-top: 50px;
}

.containerBtn-portada{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.btnPortada{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}