.cardProducts {
    height: 450px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 11px 7px 4px rgba(219, 219, 219, 1);
    -moz-box-shadow: 4px 11px 7px 4px rgba(219, 219, 219, 1);
    box-shadow: 4px 11px 7px 4px rgba(219, 219, 219, 1);
    transition: 0.5s ease;
}


.cardProducts:hover {
    scale: 1.05;
}

.cardProducts:hover img , .btnProduct{
    scale: 1.3;
    transition: 0.5s ease;

}

.cardProducts:hover .btnProduct {
    opacity: 1;
}


.imgCard {
    height: 60%;
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imgCard img {
    height: 100%;
    width: 100%;
}

.containerBtn {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnProduct {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.btnProduct img{
    height: 50px;
    width: 50px;
}

.cardBody-product {
    height: 40%;
}

.ingrediente{
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
    font-size: 13px;
    letter-spacing: 3px;
    overflow: hidden;
}

.listaProducto{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 5px;
    list-style: none;
    margin-left: -30px;
}

