.portadaUbicacion {
    height: 500px;
    width: 100%;
    background-color: red;
    position: relative;
}

.portadaUbicacion img {
    height: 100%;
    object-fit: cover;
}

.capaUbicacion {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.capaUbicacion div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-Ubicacion {
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: yellow;
    transition: 0.7s ease;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn-Ubicacion:hover {
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
}

@media screen and (max-width:767px) {
    .capaUbicacion{
        text-align: center;
        font-size: 13px;
    }
}